/* add thought */
.thought-card{
  max-width: 720px;
  background: #fcfcff;
  border-radius: 20px;
  border: #5c5c60 3px solid;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
  padding: 48px;
  background-color: #fff;
}

.page-title{
    /* font-size:2.3rem; */
    font-weight:700;
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
}

.page-subtitle{
    color:#666;
    margin-top:6px;
}

.form-section{
    margin-bottom:10px;
}

.section-header{
    display:flex;
    gap:18px;
    align-items:flex-start;
    margin-bottom:20px;
}

.section-icon{
    width:52px;
    height:52px;
    border-radius:50%;
    background:#EAF7F1;
    color:#3CB88E;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:22px;
    flex-shrink:0;
}

.section-title{
    font-weight:700;
    margin-bottom:2px;
}

.section-subtitle{
    color:#777;
    margin:0;
}

.section-divider{
    margin:28px 0;
    border-top:2px dashed #4f4f4f;
}

.thought-textarea{
    min-height:220px;
    resize:vertical;
    border-radius:12px;
    padding:16px;
}

.form-control,
.form-select{
  border: #5c5c60 1.8px solid;   /* Soft 2D border */
  border-radius: 12px;
}

.form-label{
    font-weight:600;
    margin-bottom:8px;
}

.optional{
    color:#999;
    font-weight:400;
}

.btn-save{
     background-color: #21b099;
     color: #fff;
     border-radius: 12px;
     padding: 8px;
     font-size: 16px;
     font-weight: 500;
     border: none;
     transition: 0.2s;
}

.btn-save:hover{
    background:#289c89;
}

.btn-outline-secondary{
    border-radius: 12px;
    padding: 8px;
}

/* update thought */
/* delete thought */